.optaplanner {
  .subsection {
    margin-top: 2rem;
  }

  .dispatch-mechanics {
    max-width: 200px;
  }

  .simulation {
    max-width: 200px;
  }

  .add-remove-mechanic {
    max-width: 200px;
  }
}
