.game {
  margin-bottom: 2rem;

  .enable-motions {
    .field {
      display: inline-block;
      margin-top: 1rem;
      margin-right: 2.5rem;
      margin-bottom: 1rem;
    }
  }

  .gameplay {
    margin-bottom: 4rem;
  }

  .game-state {
    margin-bottom: 1rem;
  }

  .setting {
    margin-bottom: 2rem;
  }

  .game-settings {
    form {
      margin-bottom: 2rem;
    }
  }
}
