.game {
  margin-bottom: 2rem;

  .title .notification {
    padding: 0.5rem;
  }

  form {
    padding-right: 4rem;
  }

  .enable-motions {
    .field {
      display: inline-block;
      margin-top: 1rem;
      margin-right: 2.5rem;
      margin-bottom: 1rem;
    }
  }

  .gameplay {
    margin-bottom: 2rem;
  }

  .setting {
    margin-bottom: 2rem;
  }
}
