.machine-list {

  td .machine-label {
    border-radius: 4px;
    text-align: center;
    font-weight: 700;
  }

  td .button {
    margin-right: 0.3rem;
    > svg {
      margin-right: 0.5rem;
    }
  }
}
